<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>AdminHub</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="#" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">AdminHub</span>
      </a>
      <ul class="side-menu top">
        <li class="active">
          <a href="{% url 'dashboard' %}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'teachers' %}">
            <i class="bx bxs-group"></i>
            <span class="text">Teachers</span>
          </a>
        </li>
        <li>
          <a href="{% url 'students' %}">
            <i class="bx bxs-user"></i>
            <span class="text">Students</span>
          </a>
        </li>
        <li>
          <a href="{% url 'subjects' %}">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Subjects</span>
          </a>
        </li>
        <li>
          <a href="{% url 'teacher_student' %}">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Teacher-Student Relationship</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#">
            <i class="bx bxs-cog"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li>
          <a href="{% url 'signout' %}" class="logout">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
            </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
          <i class="bx bxs-bell"></i>
          <span class="num">8</span>
        </a>
      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Dashboard</h1>
            <ul class="breadcrumb">
              <li>
                <a href="#">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Home</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info">
          <li>
            <i class="bx bxs-calendar-check"></i>
            <span class="text">
              <h3>{{ students.count }}</h3>
              <p>Students</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-group"></i>
            <span class="text">
              <h3>{{ teachers.count }}</h3>
              <p>Teachers</p>
            </span>
          </li>
          <li>
            <i class="bx bxs-user"></i>
            <span class="text">
              <h3>{{ subjects.count }}</h3>
              <p>Subjects</p>
            </span>
          </li>
        </ul>

        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3> Students</h3>
              <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Grade</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <td>
                    <p>{{ student.name }}</p>
                  </td>
                  <td>{{ student.grade }}</td>
                  <td>
                    <span
                      class="status {% if student.status == 'Active' %}completed{% else %}pending{% endif %}"
                      >{{ student.status }}</span
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="todo">
            <div class="head">
              <h3>Teachers</h3>
              <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Teacher</th>
                  <th>Age</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                {% for teacher in teachers %}
                <tr>
                  <td>
                    <p>{{ teacher.name }}</p>
                  </td>
                  <td>{{ teacher.age }}</td>
                  <td>
                    <span
                      class="status {% if teacher.status == 'Active' %}completed{% else %}pending{% endif %}"
                      >{{ teacher.status }}</span
                    >
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  </body>
</html>
