<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />

    <title>Students</title>
  </head>
  <body>
    <!-- SIDEBAR -->
    <section id="sidebar">
      <a href="{% url 'dashboard' %}" class="brand">
        <i class="bx bxs-smile"></i>
        <span class="text">Student</span>
      </a>
      <ul class="side-menu top">
        <li>
          <a href="{% url 'dashboard' %}">
            <i class="bx bxs-dashboard"></i>
            <span class="text">Dashboard</span>
          </a>
        </li>
        <li>
          <a href="{% url 'teachers' %}">
            <i class="bx bxs-group"></i>
            <span class="text">Teachers</span>
          </a>
        </li>
        <li class="active">
          <a href="{% url 'students' %}">
            <i class="bx bxs-user"></i>
            <span class="text">Students</span>
          </a>
        </li>
        <li>
          <a href="{% url 'subjects' %}">
            <i class="bx bxs-doughnut-chart"></i>
            <span class="text">Subjects</span>
          </a>
        </li>
        <li>
          <a href="{% url 'teacher_student' %}">
            <i class="bx bxs-message-dots"></i>
            <span class="text">Teacher-Student Relationship</span>
          </a>
        </li>
      </ul>
      <ul class="side-menu">
        <li>
          <a href="#">
            <i class="bx bxs-cog"></i>
            <span class="text">Settings</span>
          </a>
        </li>
        <li>
          <a href="{% url 'signout' %}">
            <i class="bx bxs-log-out-circle"></i>
            <span class="text">Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- SIDEBAR -->

    <!-- CONTENT -->
    <section id="content">
      <!-- NAVBAR -->
      <nav>
        <i class="bx bx-menu"></i>
        <a href="#" class="nav-link">Categories</a>
        <form action="#">
          <div class="form-input">
            <input type="search" placeholder="Search..." />
            <button type="submit" class="search-btn">
              <i class="bx bx-search"></i>
            </button>
          </div>
        </form>
        <input type="checkbox" id="switch-mode" hidden />
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
          <i class="bx bxs-bell"></i>
          <span class="num">8</span>
        </a>

      </nav>
      <!-- NAVBAR -->

      <!-- MAIN -->
      <main>
        <div class="head-title">
          <div class="left">
            <h1>Students</h1>
            <ul class="breadcrumb">
              <li>
                <a href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              <li><i class="bx bx-chevron-right"></i></li>
              <li>
                <a class="active" href="#">Students</a>
              </li>
            </ul>
          </div>
        </div>

        <ul class="box-info">
          <li>
            <i class="bx bxs-group"></i>
            <span class="text">
              <h3>{{ students.count }}</h3>
              <p>Students</p>
            </span>
          </li>
        </ul>

        <div class="table-data">
          <div class="order">
            <div class="head">
              <h3>Students List</h3>
              <i class="bx bx-search"></i>
              <i class="bx bx-filter"></i>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Student</th>
                  <th>Grade</th>
                  <th>Gender</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for student in students %}
                <tr>
                  <td>
                    <p>{{ student.name }}</p>
                  </td>
                  <td>{{ student.grade }}</td>
                  <td>{{ student.gender }}</td>
                  <td>
                    <span
                      class="status {% if student.status == 'active' %}completed{% else %}pending{% endif %}"
                      >{{ student.status }}</span
                    >
                  </td>
                  <td>
                    <a href="{% url 'update_student' student.name %}" class="btn-update">Update</a>
                    <a href="{% url 'delete_student' student.name %}" class="btn-delete">Delete</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
            
          </div>
          <a href="{% url 'add_student' %}" class="btn-add">Add Student</a>
        </div>
      </main>
      <!-- MAIN -->
    </section>
    <!-- CONTENT -->
  </body>
</html>
